// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


body {
  background-color: #333;
  color: #ccc;
  font-family: "Gill Sans";
  font-weight: 100;
  padding-top: 70px;
}

.row {
  padding: 0.4em 0;
}

.heading {
  text-align: right;
  margin-top: 0em;
}

a, a:link, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #08c9ff;
  text-decoration: none;
}

.small-logo {
  max-height: 25px;
}

.inline-block {
  display: inline-block;
  margin: 0 3em;
}

.side-margin {
  margin: auto 0.5em;
}

footer {
  background-color: #111;
}

.footer-text {
  margin: 0.5em 1.5em;
  color: #888;
}

.btn {
  color: #363636;
  background-color: #e8175d;
  padding: 0.2em 0.5em;
  font-size: 1em;
  margin-bottom: 0.3em;
  border: none;
  border-radius: 0;
}

.btn:hover {
  background-color: #cc527a;
}

.btn:focus, .btn:active {
  outline: none;
}

textarea {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: inherit;
  width: 90%;
}

.form-control {
  background-color: #474747;
  color: #cecdce;
  border: none;
  border-radius: 0;
}

.form-control:focus, .form-control:active {
  outline: none;
}
input[type=text], input[type=text]:focus, input[type=text]:active {
  outline: none;
}

@media (max-width: 768px) {
  .heading {
    text-align: left;
  }
}
